<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- NOTA: Remplazar los parametros por los parámetros del servidor origen -->
  <source name="___SOURCE_SERVER___" user="___SOURCE_USER___" password="___SOURCE_PASSWORD___" />
  
<dbs/>

	<target name="(local)" />
	<settings>

    <!-- NOTA: Validar las rutas de los archivos de base de datos -->  
    <add key="RutaPrimary" value="C:\SQLServer\Data" />
    <add key="RutaSecondary" value="C:\SQLServer\Data" />
    <add key="RutaLog" value="C:\SQLServer\Log" />
		<add key="RutaJobs" value="C:\Jobs" />

		<add key="HabilitaXPCmdshell" value="true" />
		<add key="HabilitaOleAutomation" value="false" />
		<add key="noEsSysAdmin" value="false" />
		  
		<!-- NOTA: Para ambiente de pruebas dejar los siguientes parámetros en true -->
    <add key="origen2005oMayor" value="true" />
    <add key="noDejarDbReadOnly" value="true" />
    <add key="noDejarDbOffline" value="true" />
    <add key="noPreasignarEspacioBasesDatos" value="true" /> <!-- crea las bases de datos con 10MB y crecimiento de 10MB-->
 
	</settings>
</configuration>

